.container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 60vh;

    .input {
        background-color: #f2f2f2;
        border          : none;
        padding         : 14px;
        border-radius   : 5px;
        font-size       : 16px;
        margin-top      : 11px;
    }

    .input-container {
        display        : grid;
        align-items    : center;
        justify-content: initial;
        margin         : 1px;
        min-width      : 354px;
    }
}

.error {
    color : #e46464;
    margin: 5px;
}

.illustration {
    margin: 159px 0px 20px 0px;
}